@{
    ViewBag.Title = "Assignment";
}

<h2>Assignment</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Team")</li>
        <li>@Html.ActionLink("Member", "Member", "Team")</li>
        <li>@Html.ActionLink("Team Projects", "TeamProj", "Team")</li>
        <li>@Html.ActionLink("Assignments", "Assignment", "Team")</li>
    </ul>
</nav>

<ul>
    <li>
        Assign members by role to projects individually or team based --this depends on internal structure
    </li>
    <li>
        [rolebased] overview of team assigned duties and status -- link to assignment area
    </li>
</ul>