@{
    ViewBag.Title = "Index";
}

<h2>Team page</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Team")</li>
        <li>@Html.ActionLink("Member", "Member", "Team")</li>
        <li>@Html.ActionLink("Team Projects", "TeamProj", "Team")</li>
        <li>@Html.ActionLink("Assignments", "Assignment", "Team")</li>
    </ul>
</nav>
<ul>
    <li>
        This will display overview at team level. "Team" can be hierarchical.
        <ul>
            <li>overview: members</li>
            <li>overview: projects</li>
            <li>overview: team member assignments and status (based on role)</li>
        </ul>
    </li>
    <li>
        Links to user/team based controls
        <ul>
            <li>Link to PM area</li>
            <li>Link to Sprint Area</li>
        </ul>
    </li>
    <li>
        Team admin functions (based on role)
        <ul>
            <li>[CRUD] for Team members</li>
            <li>[CRUD] for member assignments</li>
        </ul>
    </li>
</ul>