@{
    ViewBag.Title = "TeamProject";
}

<h2>TeamProject</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Team")</li>
        <li>@Html.ActionLink("Member", "Member", "Team")</li>
        <li>@Html.ActionLink("Team Projects", "TeamProj", "Team")</li>
        <li>@Html.ActionLink("Assignments", "Assignment", "Team")</li>
    </ul>
</nav>

This is where can view an overview of projects at team level (can be hierarchical)
<ul>
    <li>
        project overview will include status and whatever else wanted
    </li>
</ul>