@model AgiSoft.Models.TeamOnProject
@{
    ViewBag.Title = "TeamProject";
}

<h2>TeamProject</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Index", "Index", "Team")</li>
        <li>@Html.ActionLink("Member", "Member", "Team")</li>
        <li>@Html.ActionLink("Team Projects", "TeamProject", "Team")</li>
        <li>@Html.ActionLink("Assignments", "Assignment", "Team")</li>
    </ul>
</nav>

This page will be to view more detailed information concerning projects under particular team