@{
    ViewBag.Title = "Verifying Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

Thank you for verifying your account, Your next steps will be to log in and change your password.

@Html.ActionLink("Click here to change password","Login")



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
