@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfFail</title>
</head>
<body>
    <div>
        Please confirm your account by clicking the link in the email you received.
        <br />
        If you need to resend confirmation, click here.
        <br /><br />

        @Html.ActionLink("Click to Continue", "Index", "Home")
    </div>
</body>
</html>
