@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div class="topmain">
    <div class="content-wrapper">
        <div class="righttop">
            maybe a pic goes here
        </div>
        <div class="lefttop">
            <h2>We make Agile <span style="color:#1680B6">Easier</span> so you can focus your <span style="color:#1680B6">Time</span> on <span style="color:#1680B6">Development</span></h2>
        </div>
        <div style="padding: 75px 0 0 250px;">
            <button type="button" name="" value="" class="getstarted">Get Started Now</button>
        </div>
    </div>
</div>

<div id="MidSection">
    <div class="row">
        <div class="rowsect">
            <div class="rowblock"></div>
        </div>
        <div class="rowsect">
            <div class="rowblock"></div>
        </div>
        <div class="rowsect">
            <div class="rowblock"></div>
        </div>
    </div>
    <div class="row">
        <div class="rowsect">
            <div class="rowblock"></div>
        </div>
        <div class="rowsect">
            <div class="rowblock"></div>
        </div>
        <div class="rowsect">
            <div class="rowblock"></div>
        </div>
    </div>
</div>
