@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div class="topmain">
    <div class="content-wrapper">
        <div class="righttop">
            maybe a pic goes here
        </div>
        <div class="lefttop">
            <h2>We make Agile <span style="color:#1680B6">Easier</span> so you can focus your <span style="color:#1680B6">Time</span> on <span style="color:#1680B6">Development</span></h2>
        </div>
        <div style="padding: 75px 0 0 250px;">
            <button type="button" name="" value="" class="getstarted">Get Started Now</button>
        </div>
    </div>
</div>

<div id="MidSection">
    <div class="row">
        <div class="rowsect">
            <div class="rowblock">
                <article>
                    <h2>Agile Poker</h2>
                    <p>Use Agile Poker with teammates, locally or around the world to estimate and size your stories</p>
                    <p>Since your planning is integrated in AgiSoft, there is no more need to cut & paste anything from one site to another</p>
                </article>
            </div>
        </div>
        <div class="rowsect">
            <div class="rowblock">
                <article>
                    <h2>Charts</h2>
                    <p>See your progress using a <b>Burnup</b>, <b>Burndown</b>, or <b>Stacked</b> chart</p>
                    <p>You can even define custom statuses to report your stories</p>
                </article>
            </div>
        </div>
        <div class="rowsect">
            <div class="rowblock">
                <article>
                    <h2>Story Board</h2>
                    <p>The StoryBoard gives you a quick way of visually seeing the current status at a given time. Drag and drop stories into different columns to change status.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rowsect">
            <div class="rowblock">
                <article>
                    <h2>Planning</h2>
                    <p>Our planning tool helps you plan out your work and move stories around.</p>
                    <p>Compare the amount of work at different stages, and manage time to not overload the team.</p>
                </article>
            </div>
        </div>
        <div class="rowsect">
            <div class="rowblock">
                <article>
                    <h2>Epic Stories Tasks</h2>
                    <p>Use the EST Tool to make high level plan on work and break down Epics to manageable stories. Create a hierarchy of tasks to keep work organized.</p>
                </article>
            </div>
        </div>
        <div class="rowsect">
            <div class="rowblock">
                <article>
                    <h2>Release Planning</h2>
                    <p>Create a bigger picture view of your work from the team level to organization level with release planning.</p>
                </article>
            </div>
        </div>
    </div>
</div>
