@{
    Layout = null;
}

<!DOCTYPE html>

@Html.BeginForm()
{
    <div>
        <table>
            <tr>
                <td>FR Num
                </td>
                <td>
                    <input type="text" id="frnum" />
                </td>
            </tr>
            <tr>
                <td>FR Description
                </td>
                <td>
                    <input type="text" id="frdesc" style="width: 400px; text-justify: auto" />
                </td>
            </tr>
            <tr>
                <td>EM_MF
                </td>
                <td>
                    <input type="text" id="em_mf" style="text-align: right" />
                </td>
            </tr>
        </table>
    </div>
<div>
    <input type="submit" title="Add" name="Add" value="Add" />
</div>
}
